.container-img{
  background-image: url('https://www.mlgcomponentes.com/wp-content/uploads/2019/08/imagen-articulo-nombres.gif');
  background-size: cover;
  background-position: center;
  border-radius: 18px 18px 18px 18px;
  height: 100%;
  width: 100%;
    
}

.container-fluid{
    padding:0px;
    height: 900px;
    width: 80%;
}

.row{
    height: -webkit-fill-available;
}

button{
    margin-top: 10px;
}

#info-personal{

    text-align: center;

}


h5{
    font-size: 1.20rem;

}

.form-contac{
    padding: 1em;
    text-align: center;
}

.error {
    text-align: left;
    margin:0;
}

.cont-input{
    margin-bottom: 30px;
}