<div>
  <app-login></app-login>
  <app-header></app-header>
  <app-about></app-about>
  <app-academic-background>
    <!--Estudios-->
  </app-academic-background>
  <!---Trabajo--->
  <app-experience></app-experience>
  <!--Skill-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12" id="card-lenguajes">
        <h2>Conocimientos Informaticos</h2>
        <h4>Lenguajes</h4>
        <div class="cont">
          <div class="cont-icon-lang">
            <img class="img-fluid lang" src="assets/icons8-html-5-144.png">
            <h5>HTML</h5>
          </div>
          <div class="cont-icon-lang">
            <img class="img-fluid lang" src="assets/icons8-css3-144.png">
            <h5>CSS</h5>
          </div>
          <div class="cont-icon-lang">
            <img class="img-fluid lang" src="assets/icons8-javascript-144.png">
            <h5>JavaScript</h5>
          </div>
          <div class="cont-icon-lang">
            <img class="img-fluid lang" src="assets/icons8-typescript-144.png">
            <h5>TypeScript</h5>
          </div>
          <div class="cont-icon-lang">
            <img class="img-fluid lang" src="assets/icons8-git-144.png">
            <h5>Git</h5>
          </div>
        </div>
        <h4>Bibliotecas/Frameworks</h4>
        <div class="cont">

          <div class="cont-icon-lang">
            <img class="img-fluid lang" src="assets/icons8-bootstrap-144.png">
            <h5>Bootstrap</h5>
          </div>
          <div class="cont-icon-lang">
            <img class="img-fluid lang" src="assets/icons8-angularjs-144.png">
            <h5>Angular</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Proyectos-->
  <app-projects></app-projects>
  <app-footer></app-footer>
</div>