#body{
    padding: 5px;
    background-color: #330867;
    color: white;
    font-family: 'Alegreya', serif;
}


#formacion{
    border: solid 2px black;
    border-radius: 20px;
    width: 100%;
    margin-top: 10px;
}


.cont{
    text-align: center;
    display: flex;
}


.lang{
    height: 50px;
}

.cont-icon-lang{
    margin-right: 10px;
}

@media (min-width: 460px) {
    .lang{
        height: 80px;
    }
}

@media (min-width: 560px) {
    .lang{
        height: 100px;
    }
}


