
/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  margin: 0 auto;
  overflow: hidden;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
}


.loginmodal-container input[type=email], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #000000;
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=email]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.error{
  color:black;
  font-weight: bold;
}

#submit{
  border: solid 1px black;
  padding: 0px 15px;
  font-weight: bold;
  margin-top: 5px;
}