<section>
    <div cdkDropList (cdkDropListDropped)="drop($event)">
        <div *ngFor="let card of cardProject let i=index" cdkDrag>
            <div class="contenedor-edit">
                <ul class="menu-edit">
                    <li class="btn-edit">
                        <button type="button" id="btn-info" class="btn btn-open" data-bs-toggle="modal"
                            data-bs-target="#Modal-proyect">
                            <i class="fa fa-pencil btn" id="{{i + 1}}" (click)=" identicarDiv($event)"></i>
                        </button>
                    </li>
                    <li class="btn-edit">
                        <button type="button" class="btn-right" id="btn-thash">
                            <i class="fa fa-trash-o btn" aria-hidden="true" id="{{i + 1}}"
                                (click)="eliminarInfo($event)"> </i>
                        </button>
                    </li>
                </ul>
            </div>
            <div>
                <h4>{{card.titulo}}</h4>
            </div>
            <p>{{card.comentario}}</p><br />
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="Modal-proyect" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Comentar Proyecto</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" placeholder="Nombre del Proyecto" [(ngModel)]="inputTitulo" size="55">
                    <textarea placeholder="Comentar Proyecto" [(ngModel)]="inputComentario" rows="4"
                        cols="55"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" (click)="agregarInfo($event)">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</section>