<section>
    <div cdkDropList (cdkDropListDropped)="drop($event)" >
        <div *ngFor="let card of cardEdu; let i=index" id="{{i + 1}}" cdkDrag  >
            <div class="categoria">
                Institución: {{card.nombreInstitucion}}<br />
                Peridodo: {{card.periodo}}<br /><br />
            </div>

            <app-btn-edit (add)="sendId($event)" 
                        (delete)="eliminarInfo($event)"
                        [targetModal]="'#modalEdu'"
                        [i]="i">
            </app-btn-edit>
        </div>
    </div>

    <div class="modal fade" id="modalEdu" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Educacion</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" name="institucion" placeholder="Institución" size="50"
                        [(ngModel)]="inputInstitucion">
                    <input type="text" name="periodo" placeholder="Periodo" size="50" [(ngModel)]="inputPeriodo">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary" (click)="agregarInfo()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</section>