
.cont{
    text-align: center;
    display: flex-root;
    
}

.lang{
    height: 50px;
}

.cont-icon-lang{
    margin-right: 10px;
    width: -webkit-fill-available;
    width: -moz-available;
	display: ruby;
}

h5 {
    font-size: 1.0rem;
}

.progress{
	height:8px;
	width: 90%;
	float: left;
}