<div class="container">
  <div class="cont-lang">
    <div>
      <img class="lang" src="assets/icons8-html-5-144.png" />
    </div>
    <div class="wrap">
      <p>HTML</p>
      <div class="bar html delay-html"><span>90%</span></div>
    </div>
  </div>
  <div class="cont-lang">
    <div>
      <img class="lang" src="assets/icons8-css3-144.png" />
    </div>
    <div class="wrap">
      <p>CSS</p>
      <div class="bar css delay-css"><span>85%</span></div>
    </div>
  </div>
  <div class="cont-lang">
    <div>
      <img class="lang" src="assets/icons8-javascript-144.png" />
    </div>
    <div class="wrap">
      <p>JavaScript</p>
      <div class="bar js delay-js"><span>40%</span></div>
    </div>
  </div>
  <div class="cont-lang">
    <div>
      <img
        class="lang"
        src="assets\icons8-logotipo-de-java-coffee-cup-144.png"
      />
    </div>
    <div class="wrap">
      <p>Java</p>
      <div class="bar java delay-java"><span>55%</span></div>
    </div>
  </div>
  <div class="cont-lang">
    <div>
      <img class="lang" src="assets\icons8-logo-de-sql-144.png" />
    </div>
    <div class="wrap">
      <p>SQL</p>
      <div class="bar sql delay-sql"><span>63%</span></div>
    </div>
  </div>
</div>
<div class="cont">
  <div class="cont-icon-lang">
    <img class="lang" src="assets/icons8-git-144.png" />
  </div>
  <div class="cont-icon-lang">
    <img class="lang" src="assets/icons8-bootstrap-144.png" />
  </div>
  <div class="cont-icon-lang">
    <img class="lang" src="assets/icons8-angularjs-144.png" />
  </div>
  <div class="cont-icon-lang">
    <img class="lang" style="height: 40px" src="assets\spring-3-logo-png.png" />
  </div>
</div>
