<section>
    <div cdkDropList (cdkDropListDropped)="drop($event)">
        <div *ngFor="let card of cardExp let i=index"  id="{{i + 1}}" cdkDrag>
            <div class="categoria">
                Empresa:&nbsp; {{card.empresa}}<br />
                Puesto:&nbsp; {{card.puesto}}<br />
                Periodo:&nbsp; {{card.fechaInicio}} - {{card.fechaFin}}<br />
                Descripción del Trabajo:&nbsp; {{card.descripcionTrabajo}}<br /><br />
            </div>

            <app-btn-edit (add)="actulizarId_Info($event)" 
                          (delete)="eliminarInfo($event)"
                            [i]="i"
                            [targetModal]="'#modalExp'">
            </app-btn-edit>
        </div>
    </div>
    <!-- Modal -->
    <div class=" modal fade" id="modalExp" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Experiencia Laboral</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="text" placeholder="Empresa" [(ngModel)]="inputEmpresa" size="50">
                    <input type="text" placeholder="Puesto"  [(ngModel)]="inputPuesto" size="50">
                    <input type="text" placeholder="Fecha de Inicio" [(ngModel)]="inputInicio" size="50">
                    <input type="text" placeholder="Fecha de Finalización" [(ngModel)]="inputFin" size="50">
                    <input type="text" placeholder="Descrición del Trabajo" [(ngModel)]="inputDescripcion" size="50">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" (click)="guardarInfo()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</section>