*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid{
    border-radius: 18px 18px 18px 18px;
    border: solid 2px black;
    margin-bottom: 5px;
    
}

.btn{
    color: black;
    padding: 0px;
}

.modal-content{
    background-color: #330867;
}

.btn-check:focus + .btn, .btn:focus{
    box-shadow: 0 0 0 0;
  }

  .card {
    display: flow-root;
    background-color: transparent;
    border: none;
}

.contenedor-edit{
    float: right;
    padding: 0px;
}

.menu-edit{
    padding: 0px;
    margin: 0px;
}

.btn-edit{
    list-style: none;
    height: 20px;
}


#editInfo{
    margin: 5px;
}

.titulos{
    float: left;
    width: 95%;
}

.btn-right{
    background-color: transparent;
    border: none;
}
