*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 5px;
    background-color: #330867;
    color: white;
    font-family: 'Alegreya', serif;
}


.container-fluid{
    border-radius: 18px 18px 18px 18px;
    border: solid 2px black;
    margin-bottom: 5px;
    
}

.btn{
    color: black;
    padding: 0px;
}

.modal-content{
    background-color: #330867;
}

.btn-check:focus + .btn, .btn:focus{
    box-shadow: 0 0 0 0;
  }

  .card {
    display: flow-root;
    background-color: transparent;
    border: none;
}

.contenedor-edit{
    float: right;
    padding: 0px;
}

.menu-edit{
    padding: 0px;
    margin: 0px;
}

.btn-edit{
    list-style: none;
    height: 20px;
}


#editInfo{
    margin: 5px;
}

.titulos{
    float: left;
    width: 95%;
}

.btn-right{
    background-color: transparent;
    border: none;
}

.categoria{
    display:inline-block;
}

input, textarea{
    width: stretch;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  

